 
 

<p>
  <b>Comment author name:</b>
  <%= @comment.comment_author_name %>
</p>

<p>
  <b>Comment description:</b>
  <%= @comment.comment_description %>
</p>

 
<%= link_to 'Home',  root_path%>
<%= link_to 'Edit', edit_comment_path(@comment) %>  
 